{{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.metadescription) }}
    <div class="form-categorie-projets">
        {{ form_row(form.projets) }}
    </div>
      
    <button class="btn btn-vert">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
