{% extends 'base-admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <div class="categorie-index">
    <a class="btn btn-vert" href="{{ path('app_admin_categorie_new') }}">Créer une catégorie</a>

     {% for categorie in categories %}
        <div class="categorie">
            <div class="infos-categorie">
                <div class="id-slug">
                    <div class="id">{{ categorie.id }} </div>
                    <div class="slug">{{ categorie.slug }}</div>
                </div>

                <div class="nom">
                    <h2>{{ categorie.nom }}</h2>
                </div>

                <div class="projets-par-categorie">
                    {% for projet in categorie.projets %}
                    {{ projet.nom }}<br>
                    {% endfor %}
                </div>
            </div>

            <div class="actions">
                <a class="btn btn-blanc" href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}">Voir</a>
                <a class="btn btn-jaune" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">Modifier</a>
            </div>
        
        
        
        </div>
    {% endfor %}
    </div>

    

{% endblock %}
