{% extends 'base-admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <div class="categorie-show-admin">
        <div class="champ">
            <div class="intitule">Nom</div>
            <p>{{ categorie.nom }}</p>
        </div>

        <div class="champ">
            <div class="intitule">Slug</div>
            <p>{{ categorie.slug }}</p>
        </div>

        <div class="champ">
            <div class="intitule">Métadescription</div>
            <p>{{ categorie.metadescription }}</p>
        </div>

        <div class="champ">
            <div class="intitule">Projets</div>
            <p>{% for projet in categorie.projets %}
                {{ projet.nom }}<br>
                {% endfor %}
            </p>
        </div>
    
    
    </div>

    

    <a class="btn btn-blanc" href="{{ path('app_admin_categorie_index') }}"><< Retourner à la liste des catégories</a>

    <a class="btn btn-jaune" href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">Modifier</a>

    {{ include('admin/categorie/_delete_form.html.twig') }}
{% endblock %}
