{% extends 'base-admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <div class="categorie-show-admin">
        <div class="champ">
            <div class="intitule">Nom</div>
            <p>{{ categorie.nom }}</p>
        </div>

        <div class="champ">
            <div class="intitule">Projets</div>
            <p>{% for projet in categorie.projets %}
                {{ projet.nom }}<br>
                {% endfor %}
            </p>
        </div>
    
    
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td></td>
            </tr>
            <tr>
                <th>Projets</th>
                <td>
                    {% for projet in categorie.projets %}
                    {{ projet.nom }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_categorie_index') }}">back to list</a>

    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('admin/categorie/_delete_form.html.twig') }}
{% endblock %}
