{% extends 'base-admin.html.twig' %}

{% block title %}Edit Image{% endblock %}

{% block body %}
    <h1>Edit Image</h1>

    {{ form_start(form) }}
        {{ form_row(form.projet) }}
        {{ form_row(form.texteAlt )}}
        {{ form_row(form.ordre) }}
        <button class="btn btn-vert" type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <a class="btn btn-blanc" href="{{ path('app_admin_image_index') }}"><< Retourner à la liste des images</a>

    {{ include('admin/image/_delete_form.html.twig') }}
{% endblock %}
