{% extends 'base-admin.html.twig' %}

{% block title %}Liste des images{% endblock %}

{% block body %}
    <h1>Liste des images</h1>

    <div class="images-index">
    {% for image in images %}
        <div class="image">
            <div class="infos-image">
                <div class="id-slug">
                    <div class="id">{{ image.id }}</div>
                    <div class="slug">{{ image.path }}</div>
                </div>

                <div class="image-projet">
                    {{ image.projet.nom }}
                </div>

                <div class="apercu">
                    <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image">
                </div>

                <div class="alt">
                    {{ image.texteAlt }}
                </div>
            
            </div>

            <div class="actions">
                <a class="btn btn-blanc" href="{{ path('app_admin_image_show', {'id': image.id}) }}">Voir</a>
                <a class="btn btn-jaune" href="{{ path('app_admin_image_edit', {'id': image.id}) }}">Modifier</a>
            </div>
        </div>
    {% endfor %}

    
</div>
    <a class="btn btn-vert" href="{{ path('app_admin_image_new') }}">Ajouter une image</a>
{% endblock %}
