{% extends 'base-admin.html.twig' %}

{% set action = app.current_route == 'app_admin_image_new' ? 'Ajout' : 'Edition' %}

{% block title %}{{ action }} d'une image{% endblock %}

{% block body %}
    <h1>{{ action }} d'une image</h1>

        {{ form_start(form) }}
            {{ form_row(form.projet) }}
            {{ form_row(form.texteAlt) }}
            {{ form_row(form.path) }}
            <button class="btn btn-vert" type="submit">Enregistrer</button>
        {{ form_end(form) }}

    <a class="btn btn-blanc" href="{{ path('app_admin_image_index') }}"><< Retourner à la liste des images</a>
{% endblock %}
 