{% extends 'base.html.twig' %}

{% block title %}Degemer{% endblock %}
{% block metadescription %}Graphiste et webdesigner freelance à Rennes : création de logos, sites internet, illustrations et supports de communication{% endblock %}
{% block metaimage %}{{ absolute_url(asset('img/favicon-portfolio.svg')) }}{% endblock %}
{% block metadescriptionimage %}Graphiste et webdesigner freelance à Rennes{% endblock %}

{% block body %}


<div class="container">
    <div class="section01">
        <div class="image">
            {% include "partials/accueil01.html.twig" %}
            {% include "partials/accueil02.html.twig" %}
        </div>
        <div class="texte">
            <h1>Newenn Turbiau</h1>
            <h2>
                <span class="line">Graphiste</span> <br> 
                <span class="line">Webdesigner</span> <br> 
                <span class="line">Développeur</span>
            </h2>

            <div class="paragraphe">
                <p>Graphiste et développeur web basé à Rennes, j'accompagne entreprises et associations dans la création de sites web, d'identités visuelles, ainsi que tous types de supports de communication print et web : affiches, flyers, brochures... </p>
                <p><em>Degemer mat ! Amañ e vez komzet brezhoneg ivez !</em></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="section02">
        <div class="image">
            <div class="projets scroll-section horizontal-section">

                <div class="wrapper"> 

                    {% for projet in projets|sort((a, b) => a.getOrdreMisEnAvant <=> b.getOrdreMisEnAvant) %}
                        {% if projet.estActif == true and projet.misEnAvant == true and projet.imageMiseEnAvant %}
                            <div role="listitem" class="item">
                                <a href="{{ path('app_projet_show', {'slug': projet.slug}) }}">
                                    <div class="projet">
                                        <img src="{{ asset('uploads/' ~ projet.imageMiseEnAvant) }}" alt="Image de couv">
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div role="listitem" class="item">
                        <a href="{{ path('app_projet_index') }}" aria-label="Voir tous les projets">
                            <div class="projet voir-plus">
                                <p>Voir toutes les réalisations</p>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="texte">
            <div class="separateur">
                <img src="{{ asset('img/separateur.svg')}}" alt="">
            </div>
        </div>
    
    </div>

</div>



<div class="separateur2">
    <img src="{{ asset('img/separateur.svg')}}" alt="">
</div>

<div class="container">
    <div class="section03">
        <div class="image">
            <img src="{{ asset('img/autoportrait-sombre-02.svg') }}" alt="">
        </div>
        <div class="texte">
            <h2>Qui suis-je</h2>
            <p>Après plusieurs années d’études de design graphique à Barcelone puis à Quimper, je suis désormais basé à Rennes en tant que graphiste freelance.</p>
            <p>Passionné par mon métier, je pratique une veille graphique continue. Cela me permet de me tenir à jour sur les évolutions de la discipline, et ainsi de proposer le meilleur service possible à mes client·es.</p>
            <p>La vie culturelle, sociale et locale est ce qui donne un sens à mon travail. Le graphisme est pour moi une façon de soutenir l’activité là où je vis. Je propose ainsi mes services aux professionnels et aux associations à Rennes et dans toute la Bretagne.</p>
            <p class="lien-contact">
                <a href="{{ path('app_contact') }}">
                    <span class="line">Contact</span>
                </a>
            </p>
        </div>
        
    </div>
</div>

{% endblock %}