{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.description) }}
    {{ form_row(form.cover) }}
    {{ form_row(form.coverName) }}
    {{ form_row(form.ordre_miniature) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.lastUpdate) }}
    {{ form_row(form.metadescription) }}
    <div class="est-actif">
        {{ form_row(form.estActif) }}
    </div>
    <div class="mis-en-avant">
        {{ form_row(form.misEnAvant) }}
    </div>
    {{ form_row(form.imageMiseEnAvant) }}
    {{ form_row(form.ordre_mis_en_avant) }}
    

    <button class="btn btn-vert">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
