{% extends 'base-admin.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>
    
    <a class="btn btn-vert" href="{{ path('app_admin_projet_new') }}">Créer un projet</a>

    {% for projet in projets %}
        <div class="projet">
            <div class="infos">
                <div class="id-slug">
                    <div class="id">{{ projet.id }}</div>
                    <div class="slug">{{ projet.slug }}</div>
                </div>

                <div class="nom">
                    <h2>
                        <a href="{{ path('app_projet_show', {'slug': projet.slug}) }}">{{ projet.nom }} 
                        {% if projet.misEnAvant == true %}
                        <span class="etoile"> ★</span>
                        {% endif %}
                        {% if projet.estActif == false %}
                        <span class="hors-ligne">HORS-LIGNE</span>
                        {% endif %}
                        </a>
                    </h2>
                </div>

                <div class="categories">
                    {% for item in projet.categorie %}
                    {{ item.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %} 
                </div>

                <div class="description">
                    {{ projet.description|raw }}
                </div>

                <div class="cover">
                    <img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Miniature" width="150">
                    {% if projet.imageMiseEnAvant %}
                    <img src="{{ asset('uploads/' ~ projet.imageMiseEnAvant) }}" alt="Image en page d'accueil" width="150">
                    {% endif %}
                </div>
            </div>

            <div class="images">
                {% for image in projet.images %}
                    <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image de projet" width="100">
                {% else %}
                    <p>Aucune image</p>
                {% endfor %}
            </div>

            <div class="actions">
                <a class="btn btn-blanc" href="{{ path('app_admin_projet_show', {'slug': projet.slug}) }}">Voir</a>
                <a class="btn btn-jaune" href="{{ path('app_admin_projet_edit', {'id': projet.id}) }}">Modifier</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}
