{% extends 'base-admin.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Cover</th>
                <th>Catégorie</th>
                <th>actions</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.slug }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.cover }}<img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Image de couv" width="100"></td>
                <td>
                    {% for item in projet.categorie %}
                    {{ item.nom }}
                    {% endfor %}</td>
                <td>
                    {% for image in projet.images %}
                        <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image de projet" width="100">
                    {% else %}
                        <p>Aucune image</p>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_admin_projet_show', {'slug': projet.slug}) }}">show</a>
                    <a href="{{ path('app_admin_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button>
        <a href="{{ path('app_admin_projet_new') }}">Create new</a>
    </button>
{% endblock %}
