{% extends 'base-admin.html.twig' %}

{% set action = app.current_route == 'app_projet_new' ? 'Ajout' : 'Edition' %}

{% block title %}{{ action }} d'un projet{% endblock %}

{% block body %}

    <h1>{{ action }} d'un projet</h1>

    {# {{ include('admin/projet/_form.html.twig') }} #}

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.description) }}
        {{ form_row(form.cover) }}
        {{ form_row(form.coverName) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.lastUpdate) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    
    {% if app.current_route == 'app_projet_edit' %}
        {% for image in images %}
            <div class="image-preview">
                <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image du projet" width="100">
            </div>
        {% endfor %}
    {% endif %}

    <a href="{{ path('app_projet_index') }}">back to list</a>

{% endblock %}