{% extends 'base-admin.html.twig' %}

{% set action = app.current_route == 'app_projet_new' ? 'Ajout' : 'Edition' %}

{% block title %}{{ action }} d'un projet{% endblock %}

{% block body %}

    <h1>{{ action }} d'un projet</h1>

    {{ include('admin/projet/_form.html.twig') }}
    
    {% if app.current_route == 'app_admin_projet_edit' %} 
    <div class="image-preview">
        {% for image in images %}
           
                <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image du projet" width="300">
            
        {% endfor %}
    </div>
    {% endif %}

    <a class="btn btn-blanc" href="{{ path('app_admin_projet_index') }}"><< Retourner à la liste des projets</a>

{% endblock %}