{% extends 'base-admin.html.twig' %}

{% block title %}{{ projet.nom }}{% endblock %}

{% block body %}
<div class="projet-show-admin">
    <h1>{{ projet.nom }}</h1>

    <div class="champ">
        <div class="intitule">Slug</div>
        <p>{{ projet.slug }}</p>
    </div>

    <div class="champ">
        <div class="intitule">Catégorie(s)</div>
        <p>{% for item in projet.categorie %}
            {{ item.nom }}<br>
            {% endfor %}
        </p>
    </div>
    
    <div class="champ">
        <div class="intitule">Description</div>
        <p>{{ projet.description|raw }}</p>
    </div>

    <div class="champ">
        <div class="intitule">Image miniature</div>
        <img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Image de couv" width="700">
    </div>

    {% if projet.imageMiseEnAvant %}
        <div class="champ">
            <div class="intitule">Image en page d'accueil</div>
            <img src="{{ asset('uploads/' ~ projet.imageMiseEnAvant) }}" alt="Image de couv" width="700">
        </div>
    {% endif %}

    <div class="champ">
        <div class="intitule">Images</div>
        {% for image in projet.images %}
            <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image de projet">
        {% else %}
            <p>Aucune image</p>
        {% endfor %}
    </div>
</div>
    



    <a class="btn btn-blanc" href="{{ path('app_admin_projet_index') }}"><< Retourner à la liste des projets</a>

    <a class="btn btn-jaune" href="{{ path('app_admin_projet_edit', {'id': projet.id}) }}">Modifier le projet</a>

    {{ include('admin/projet/_delete_form.html.twig') }}
{% endblock %}
