{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block metadescription %}Découvrez mon portfolio graphiste : logo et charte graphique, site web, illustration et supports de communication.{% endblock %}

{% block body %}

<div class="portfolio">
    <div class="container-custom">
        <h1>Réalisations</h1>

        <form class="filtres">

                <button data-filter="all" class="filtre-actif">Voir tout</button>

            {% for categorie in categories %}

                    <button data-filter="{{ categorie.id }}">{{ categorie.nom }}</button>

            {% endfor %}
        </form>

        <div class="projets">

            {% for projet in projets|sort((a, b) => a.ordreMiniature <=> b.ordreMiniature) %}
                {% if projet.estActif == true %}
                
                <div class="projet projet-item" data-categorie="{{ projet.categorie|map(c => c.id)|join(',') }}">
                    <a href="{{ path('app_projet_show', {'slug': projet.slug}) }}">
                        <div class="overlay">
                            <p>{{ projet.nom }}</p>
                        </div>
                        
                        <img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Miniature du projet {{ projet.nom }}"></td>
                    </a>
                </div>
                
                {% endif %}
            {% endfor %}
            
        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>document.addEventListener("DOMContentLoaded", function () {
    const boutons = document.querySelectorAll(".filtres button");
    const projets = document.querySelectorAll(".projet-item");

    boutons.forEach((bouton) => {
        bouton.addEventListener("click", function (event) {
            event.preventDefault();
            const categorie = this.getAttribute("data-filter");
            boutons.forEach((btn) => btn.classList.remove("filtre-actif"));
            this.classList.add("filtre-actif");

            projets.forEach((projet) => {
                const projetCategorie = projet.getAttribute("data-categorie").split(",");

                if (categorie === "all" || projetCategorie.includes(categorie)) {
                    projet.style.display = "block";
                } else {
                    projet.style.display = "none";
                }
            });
        });
    });
})</script>

{% endblock %}