{% extends 'base.html.twig' %}

{% block title %}{{ projet.nom }}{% endblock %}

{% block body %}

<div class="container">
    <div class="projet-show">
        <p class="categories">
            {% for item in projet.categorie %}
                <a href="{{ path('app_categorie_show', {'slug': item.slug}) }}">
                    {{ item.nom }}{% if not loop.last %}, {% endif %}
                </a>
            {% endfor %}
        </p>
        <h1>{{ projet.nom }}</h1>
        

        <p class="description">{{ projet.description|raw}}</p>

        <div class="images-projet">
            {% for image in projet.images|sort((a, b) => a.ordre <=> b.ordre) %}
                <img src="{{ asset('uploads/' ~ image.path) }}" alt="Image de projet">
            {% else %}
                <p>Aucune image</p>
            {% endfor %}
        </div>

        <div class="navigation">
            <a href="{{ path('app_projet_index') }}">
                <span class="line">Liste des projets</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}