{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block metadescription %}Obtenir un devis graphiste Rennes. Vous avez un projet de création de logo, de site web ou autre support ? Contactez-moi !{% endblock %}
{% block metaimage %}{{ absolute_url(asset('img/favicon-portfolio.svg')) }}{% endblock %}
{% block metadescriptionimage %}Demander un devis graphiste Rennes{% endblock %}

{% block body %}
<div class="container">
    <h1 class="contact-h1">Me contacter</h1>
    {% include 'partials/contact01.html.twig' %}
    <div class="contact-section01">
        <div class="mots">
            {# Mots qui défilent en scroll horizontal #}
            <p id="mot01" class="mot">Commande d'<span>illustration</span></p>
            <p id="mot02" class="mot">Création de <span>logo</span></p>
            <p id="mot03" class="mot">Support de <span>communication</span></p>
            <p id="mot04" class="mot">Conception de <span>site web</span></p>
        </div>
    </div>
</div>

<div class="contact-separateur">
    <img src="{{ asset('img/separateur.svg')}}" alt="">
</div>

<div class="container">
    <div class="contact-section02">
        <div>
            <p>Vous avez un projet de création de logo, site web, ou autre support de communication, et souhaitez <span>obtenir un devis</span> de graphiste ? Ou bien vous souhaitez vous informer avant de vous lancer ? <span>Ecrivez-moi, je vous répondrai dès que possible !</span></p>
            <p>Gallout a rit skrivañ e brezhoneg ivez, respont a rin gant plijadur !</p>
            <p class="adresse-mail">graphisme.newennturbiau[at]gmail.com</p>
        </div>
    </div>
</div>

<div class="contact-section03">
    <div class="services" id="horizontal">
        <h2>Mes services</h2> 
        <div class="liste-services">
            <div class="service">
                <div class="texte">
                    <div class="texte-container">
                        <h3>Identité visuelle</h3>
                        <p>Le logotype est un élément indispensable lors de la création de votre activité.</p>
                        <p>Souvent accompagné d’une charte graphique, il permet d’identifier votre domaine d’activité du premier coup d’oeil et de communiquer vos valeurs.</p>
                        <p>Décliné sur différents supports, il doit aussi répondre à un certain nombre de critères techniques pour être exploitable.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ asset('img/services-logo.webp')}}" alt="Montage avec différents éléments de l'identité visuelle de Kejadenn">
                </div>
            </div>

            <div class="service">
                <div class="texte">
                    <div class="texte-container">
                        <h3>Site web</h3>
                        <p>Autre élément indispensable à toute activité professionnelle, le site web est l’outil qui permet le contact direct avec votre public ou vos clients.</p>
                        <p>Il doit de ce fait répondre à un certain nombre de normes techniques et ergonomiques pour être efficace et sécurisé.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ asset('img/services-webdesign.webp')}}" alt="Montage avec un aperçu des webdesigns réalisés pour le Studio Crystelle Terrasson et pour l'association Dys-tout">
                </div>
            </div>

            <div class="service">
                <div class="texte">
                    <div class="texte-container">
                        <h3>Illustration</h3>
                        <p>Une illustration permet de toucher votre public grâce à un univers graphique et poétique qui vous est propre. Elle peut être un véritable atout dans votre communication.</p>
                        <p>En tant qu’illustrateur freelance, je vous propose des services de création d’illustrations originales et 100% personnalisées.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ asset('img/services-illui.webp')}}" alt="Montage avec différentes illustrations dans une inspiration Seiz Breur">
                </div>
            </div>

            <div class="service">
                <div class="texte">
                    <div class="texte-container">
                        <h3>Supports print et web</h3>
                        <p>Je vous accompagne dans la création de vos supports de communication, imprimés et numériques : affiche, brochure, flyer, visuels pour réseaux sociaux, plaquette commerciale, newsletters, animation, montage vidéo… </p>
                        <p>En accord avec votre stratégie de communication, mes services de graphiste incluent la mise en place d’un langage graphique cohérent qui vous aide à atteindre vos objectifs auprès de votre public.</p>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ asset('img/services-supports.webp')}}" alt="Montage avec différents supports de communication">
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
