{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}

<div class="categorie-show">
    <div class="container-custom">
        <h1>{{ categorie.nom }}</h1>

        <div class="projets apparition-header">

            {% for projet in categorie.projets %}
            <a href="{{ path('app_projet_show', {'slug': projet.slug}) }}">
                <div class="projet">
                    <div class="overlay">
                        <p>{{ projet.nom }}</p>
                    </div>
                    
                    <img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Image de couv"></td>
                </div>
            </a>
            {% endfor %}
            
        </div>

        <a href="{{ path('app_categorie_index') }}">Liste des catégories</a>
        <a href="{{ path('app_projet_index') }}">Liste des projets</a>

    </div>

</div>

{% endblock %}