{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block metadescription %}{{ categorie.metadescription }}{% endblock %}


{% block body %}

<div class="categorie-show">
    <div class="container-custom">
        <h1>{{ categorie.nom }}</h1>

        <div class="projets">

            {% for projet in categorie.projets %}
                {% if projet.estActif == true %}
                <a href="{{ path('app_projet_show', {'slug': projet.slug}) }}">
                    <div class="projet projet-item">
                        <div class="overlay">
                            <p>{{ projet.nom }}</p>
                        </div>
                        
                        <img src="{{ asset('uploads/' ~ projet.cover) }}" alt="Miniature du projet {{ projet.nom }}"></td>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
            
        </div>

        <div class="navigation">
            <a href="{{ path('app_categorie_index') }}">
                <p>
                    <span class="line">Liste des catégories</span>
                </p>
            </a>
            <a href="{{ path('app_projet_index') }}">
                <p>
                    <span class="line">Liste des projets</span>
                </p>
            </a>
        </div>
    </div>

</div>

{% endblock %}